# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Entornos virtuales (Virtual Environments)
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/

# IDEs y editores de texto
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Archivos del sistema operativo
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs y temporales
*.log
